body{
        background-color: lightblue;
        font-family: Helvetica, sans-serif;
        margin: 50px;
        padding: 0;
}
#petAdoption{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
}
.pets{
    background-color: white;
    flex: 0 1 28%;
    box-shadow: 5px 5px 5px 5px gray;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 300px;

}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.header{
    border: 1px solid lightblue;

}